<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>




  </head>
  <body>

    <div>
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <img src="/images/print.png" alt="print" />
          <img src="/images/save.png" alt="save" />
          <img src="/images/download.png" alt="download" />
          <img src="/images/previous.png" alt="previous" />
          <img src="/images/next.png" alt="next" />
          <img src="/images/zoom-in.png" alt="zoom-in" />
          <img src="/images/zoom-out.jpg" alt="zoom-out" />
          <img src="/images/clockwise.png" alt="clockwise" />
          <img src="/images/counter-clockwise.png" alt="counter-clockwise" />
          <img src="/images/thumbnail.jpg" alt="thumbnail" />
        </div>
      </nav>
      <div class="jumbotron" style="padding:40px;" >
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>

        <canvas id="canvas"></canvas>
         <button>Press</button>
         <div id="mydiv"></div>
      
      </div>
    </div>
      <script src="javascripts/myscript.js" />
  </body>

  </script>
</html>
