body {
  /*padding: 50px; */

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
nav {
  margin-left: 5%
}
.navBar img {
  width: 25px;
  margin: 14px;
}
.navBar {
  margin-bottom: 20px;
}

#currentpage {

  width: 30px;
}
#totalpages {

  width: 30px;
  margin-top: -10px;
}
#slash-img {
  margin-left: 20px;
}

#next-img {
  margin-left: 20px;
}
.container {
  width: 50% !important;
  height: 100%;
  border: 5px solid #ccc;
  position: absolute;
  overflow: hidden;
}
#mydiv {
  width: 80%;
  height: 600px;
  overflow: hidden;
  margin:0;
  border: 5px solid #ddd;
  float: left;
}
#thumbnaildiv {
  width: 20%;
  border: 5px solid #ddd;
  float: right;
  height: 600px;
  overflow-y: scroll;
}

#thumbnaildiv img {
  border: 5px solid #ccc;
}
