body {
  /*padding: 50px; */

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
nav {
  margin-left: 5%
}
.navBar1 img {
  width: 25px;
  margin: 14px;
}
/*.navBar1 {
  margin-bottom: 20px;
} */

.navBar2 img {
 width: 25px;
 margin: 14px;
}

#currentpage {

  width: 30px;
}
#totalpages {

  width: 30px;
  margin-top: -10px;
}
#slash-img {
  margin-left: 20px;
}

#next-img {
  margin-left: 20px;
}
.imageContainer {
    height: 650px;
}
.container {
  width: 50% !important;
  height: 700px;
  border: 5px solid #ccc;
  position: absolute;
  overflow: hidden;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
#mydiv {
  width: 79%;
  height: 600px;
  overflow: hidden !important;
  margin:0;
  /*border: 1px solid #ddd; */
  float: left;
}
#thumbnaildiv {
  width: 21%;
  /*border: 2px solid #ddd; */
  float: right;
  height: 600px;
  /*overflow-y: scroll; */
}

#thumbnaildiv img {
  border: 2px solid #ccc;
  margin: 2px;
}
.currentpageholder, .totalpagesholder {
  display: inline;
}
.invertcss {
  filter: invert(1);
}

.brightnesscss {
  filter: brightness(var(--brightness));
}
#cropdiv {
  float: right;
}

.contrastcss {
  filter: contrast(var(--contrast));
}
.cropper-drag-box {
  background-color: #fff !important;
}

.cropper-bg {
   background-image:none !important;
}
