body {
  /*padding: 50px; */

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
nav {
  margin-left: 5%
}
.navBar1 img {
  width: 25px;
  margin: 14px;
}
/*.navBar1 {
  margin-bottom: 20px;
} */

.navBar2 img {
 width: 25px;
 margin: 14px;
}

#currentpage {

  width: 30px;
}
#totalpages {

  width: 30px;
  margin-top: -10px;
}
#slash-img {
  margin-left: 20px;
}

#next-img {
  margin-left: 20px;
}
.imageContainer {
    height: 85%;
}
.container {
  width: 50% !important;
  height: 700px;
  border: 2px solid #ccc;
  position: absolute;
  /*overflow: hidden;v*/
  padding-left: 0px !important;
  padding-right: 0px !important;
}
#display-image {
  width: 79%;
  overflow: hidden !important;
  margin:0;
  /*border: 1px solid #ddd; */
  float: left;
}
#display-thumbnail {
  width: 21%;
  float: right;
  height: 585px;
  overflow-y: scroll;
}

#display-thumbnail img {
  border: 2px solid #ccc;
  margin: 2px;
}
.currentpageholder, .totalpagesholder {
  display: inline;
}
.invertcss {
  filter: invert(1);
}

.brightnesscss {
  filter: brightness(var(--brightness));
}
#cropdiv {
  float: right;
}

.contrastcss {
  filter: contrast(var(--contrast));
}
.cropper-drag-box {
  background-color: #fff !important;
}

.cropper-bg {
   background-image:none !important;
}

.navigation {
  border-bottom: 2px solid #ccc;
  height: 15%;
}

.rt-transform {
  -moz-transform: scaleX(var(--scalex)) scaleY(var(--scaley)) rotate(var(--degree)deg);
-webkit-transform: scaleX(var(--scalex)) scaleY(var(--scaley)) rotate(var(--degree)deg);
-o-transform: scaleX(var(--scalex)) scaleY(var(--scaley)) rotate(var(--degree)deg);
-ms-transform: scaleX(var(--scalex)) scaleY(var(--scaley)) rotate(var(--degree)deg);
transform: scaleX(var(--scalex)) scaleY(var(--scaley)) rotate(var(--degree)deg);
}

.hidethumbnail {
  display: none;
}
.uploadImage {
    width: 40px !important;
    margin-top: 2px !important;
}
